html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@import "_header.scss";
// @import "_catalog.scss";

$card-width: 200px;
$gap: 48px;

.catalog {
  display: grid;
  justify-content: center;
  gap: $gap;
  max-width: $card-width * 4 + $gap * 3;
  margin: 0 auto;
  &__card {
    display: grid;
    place-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

@media screen and (min-width: 488px) {
  .catalog {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    max-width: $card-width * 2 + $gap;
  }
}

@media screen and (min-width: 768px) {
  .catalog {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    max-width: $card-width * 3 + $gap * 2;
  }
}

@media screen and (min-width: 1024px) {
  .catalog {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}
